VITE_API_BASE_URL=https://api.mercanteclink.dk/api
VITE_AUTH_ISSUER=https://auth.mercantec.tech
VITE_AUTH_CLIENT_ID=mercantec
VITE_AUTH_AUDIENCE=mercantec-apps
VITE_AUTH_SCOPES=openid profile email
VITE_AUTH_REDIRECT_URI=https://mercanlink.dk/auth/callback
VITE_AUTH_LOGOUT_RETURN_URL=https://mercanlink.dk/login
